<!DOCTYPE html>
<html>
  <head>
    <title>InterviewSkillCheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_bundle_tag 'simulation' %>
    <%= javascript_bundle_tag 'simulation' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
